body {
    padding: 20px;
}
input[type=range] {
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;

    /*required for proper track sizing in FF*/
    width: $slider-width;
}
input[type=range]::-webkit-slider-runnable-track {
    width: $slider-width;
    height: 2px;
    background: $pitch;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: $circle-diameter;
    width: $circle-diameter;
    border-radius: 50%;
    background: $pitch;
    margin-top: -6px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-moz-range-track {
    width: $slider-width;
    height: 2px;
    background: $pitch;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: $circle-diameter;
    width: $circle-diameter;
    border-radius: 50%;
    background: $pitch;
}
/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}
