body {
  padding: 30px;
}
input[type=range] {
  -webkit-appearance: none;
  width: 23%;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 4px;
  background: $sidewalk;
  border: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid $hairline-gray;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: $white;
  margin-top: -8px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-moz-range-track {
  height: 4px;
  background: $sidewalk;
  border: none;
}
input[type=range]::-moz-range-thumb {
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid $hairline-gray;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: $white;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
  outline: 1px solid $white;
  outline-offset: -1px;
}
input[type=range]::-ms-track {
  height: 4px;
  background: transparent;
  border-color: transparent;

  /*remove default tick marks*/
  color: transparent;
}
input[type=range]::-moz-range-progress {
  background: $hyperdrive;
}
input[type=range]::-ms-fill-lower {
  background: $hyperdrive;
}
input[type=range]::-ms-fill-upper {
  background: transparent;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid $hairline-gray;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: $white;
}
input[type=range]:focus::-webkit-slider-thumb {
  border: 1px solid $basic-blue;
  -webkit-box-shadow: 0px 0px 5px $basic-blue;
}
input[type=range]:focus::-moz-range-thumb {
  border: 1px solid $basic-blue;
  -webkit-box-shadow: 0px 0px 5px $basic-blue;
}
input[type=range]:focus::-ms-thumb {
  border: 1px solid $basic-blue;
  -webkit-box-shadow: 0px 0px 5px $basic-blue;
}
